*{
    margin: 0;
    padding: 0;
}

.sec1{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/wed4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}


.navbar{
    padding: 20px;
}

.navbar i{
    margin: 0 42%;
    color: white;
    height: 10vh;
    border: solid 1px white;
    padding: 9px;
}

.sec1down{
    float: inline-end;
    margin-left: 75%;
    margin-top: 3%;
    width: 25%;
}

.sec1down p{
    font-size: 10px;
}

.sec2{
    padding: 2% 0;
    background-color: rgb(212, 204, 204);
    height: 50vh;
}


.sec2 h1 i{
    text-decoration: underline;
}

.sec2 h1{
    margin-left: 23.1%;
    font-size: 30px;
}

.box21{
    margin-right: 29px;
    width: 25%;
    margin-bottom: 1%;
}

.sec2 a{
    padding: 4px 7%;
  
    position: absolute;
    border: solid 2px black;
    margin-left: 45%;
}

.sec3{
    flex-wrap: wrap;
    padding: 27px 5%;
    
    
}

.image1{
    width: 42%;
    margin: 0 19px;
    height: 70vh;
    margin-bottom: -5%;
    position: relative;
    border: 4px solid white;
}
.sec3box{
    width: 25%;
    margin: 0 19px;
    padding: 5%;
}

.sec3box h2{
    font-family: 'Dancing Script', cursive;

}
.image2{
    width: 42%;
    margin: 0 19px;
    height: 60vh;
}