.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad15{
    padding-bottom: 15px;
}

.cursor-point{
    cursor: pointer;
}

.text-none{
    text-decoration: none;
}

.text-white{
    color: white;
}

.text-center{
    text-align: center;
}

.hazy{
    opacity: 0.5;
}

.text-black{
    color: black;
}

